<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ArmPlate_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>
      <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so"> 
            <parameters>$(find arm_urdf_moveit_config)/config/ros2_controllers.yaml</parameters>
        </plugin>
      </gazebo>
        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="firstDOF_final_dof1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['firstDOF_final_dof1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Nema_34_v3_dof2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Nema_34_v3_dof2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STEPPER_MOTOR_dof3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STEPPER_MOTOR_dof3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AX_12A_04_3_Revolute_75">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AX_12A_04_3_Revolute_75']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AX_12A_04_1_dof5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AX_12A_04_1_dof5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AX_12A_04_2_Revolute_86">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AX_12A_04_2_Revolute_86']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="gcomp1_Revolute_63">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gcomp1_Revolute_63']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AX_12A_04_4_Revolute_90">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AX_12A_04_4_Revolute_90']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <!-- <joint name="wheel_fl_joint">
              <command_interface name="velocity"/>
              <state_interface name="velocity"/>
              <state_interface name="position"/>
            </joint>

            <joint name="wheel_fr_joint">
              <command_interface name="velocity"/>
              <state_interface name="velocity"/>
              <state_interface name="position"/>
            </joint>

            <joint name="wheel_rl_joint">
              <command_interface name="velocity"/>
              <state_interface name="velocity"/>
              <state_interface name="position"/>
            </joint>

            <joint name="wheel_rr_joint">
              <command_interface name="velocity"/>
              <state_interface name="velocity"/>
              <state_interface name="position"/>
            </joint>         -->
            </ros2_control>
    </xacro:macro>
</robot>
