ekf_filter_node:
  ros__parameters:
    frequency: 100
    sensor_timeout: 0.2
    two_d_mode: true

    publish_tf: true

    odom_frame: odom
    base_link_frame: base_footprint
    world_frame: odom

    ########## WHEEL ODOM ##########
    odom0: /diff_drive_controller/odom
    odom0_config: [
      false,  false,  false,   # x, y (YES use both)
      false, false, false,   # ignore wheel orientation
      false,  false, false,   # linear velocity vx only
      false, false, false,   # no angular velocities
      false, false, false
    ]
    odom0_queue_size: 20

    ########## IMU ##########
    imu0: /imu_plugin/out
    imu0_frame: imu_link
    imu0_relative: false
    imu0_remove_gravitational_acceleration: true

    imu0_config: [
      false, false, false,   # do NOT take position from imu
      false, false, true,    # take orientation yaw only (optional)
      true,  true,  true,    # allow filter to integrate velocities
      true,  true,  true,    # angular velocity (gyro all axes)
      true,  true,  true     # linear acceleration -> enable integration to velocity/position
    ]
    imu0_queue_size: 50
