# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    hand_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
      
    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController


arm_controller:
  ros__parameters:
    action_ns: follow_joint_trajectory
    joints:
      - firstDOF_final_dof1
      - Nema_34_v3_dof2
      - STEPPER_MOTOR_dof3
      - AX_12A_04_3_Revolute_75
      - AX_12A_04_1_dof5
      - AX_12A_04_2_Revolute_86
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
hand_controller:
  ros__parameters:
    joints:
      - gcomp1_Revolute_63
      - AX_12A_04_4_Revolute_90
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    action_ns: follow_joint_trajectory

diff_drive_controller:
  ros__parameters:
    left_wheel_names: ["wheel_fl_joint","wheel_fr_joint"]
    right_wheel_names: ["wheel_rr_joint","wheel_rl_joint"]

    wheel_separation: 0.6
    # wheels_per_side: 2  # actually 2, but both are controlled by 1 signal
    wheel_radius: 0.075

    wheel_separation_multiplier: 1.0
    left_wheel_radius_multiplier: 1.0
    right_wheel_radius_multiplier: 1.0

    odom_frame_id: odom
    base_frame_id: base_footprint
    # sensible defaults for a small diff-drive robot (units: m, rad, (m/s)^2 or (rad/s)^2)
    pose_covariance_diagonal : [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]  


    position_feedback: true
    open_loop: false
    enable_odom_tf: true
    use_stamped_vel: false
    cmd_vel_timeout: 0.5 # seconds
    publish_limited_velocity: true
    # velocity_rolling_window_size: 10
    # Preserve turning radius when limiting speed/acceleration/jerk
    preserve_turning_radius: true

    # Publish limited velocity
    publish_cmd: true

    # Publish wheel data
    publish_wheel_data: true

    # Velocity and acceleration limits
    # Whenever a min_* is unspecified, default to -max_*
    linear.x.has_velocity_limits: true
    linear.x.has_acceleration_limits: true
    linear.x.has_jerk_limits: false
    linear.x.max_velocity: 0.26
    linear.x.min_velocity: -0.26
    linear.x.max_acceleration: 1.0
    linear.x.max_jerk: 0.0
    linear.x.min_jerk: 0.0

    angular.z.has_velocity_limits: true
    angular.z.has_acceleration_limits: true
    angular.z.has_jerk_limits: false
    angular.z.max_velocity: 1.82
    angular.z.min_velocity: -1.82
    angular.z.max_acceleration: 4.0
    angular.z.min_acceleration: -4.0
    angular.z.max_jerk: 0.0
    angular.z.min_jerk: 0.0

    command_interfaces:
      - velocity
    state_interfaces:
      - position
      - velocity
      
      